<app-navbar></app-navbar>

<app-search-form (searchSubmit)="onSearchSubmit($event)"></app-search-form>

<div class="d-flex justify-content-end mt-3 me-3" routerLink="/players/edit-player/0">
  <button class="btn btn-primary px-3"><i class="bi bi-plus-circle"></i></button>
</div>

<div class="container">
  <div class="container" *ngIf="!errorMessage">
    <div class="row mt-3">
      <div class="col-md-2 mb-5" *ngFor="let player of players">
        <app-player-card class="playerCard" [player]="player"></app-player-card>
      </div>
    </div>
  </div>
  <div *ngIf="errorMessage" class="alert alert-warning mt-3">
    {{ errorMessage }}
  </div>
</div>
